body {
    background-color: beige;
}

.form {
    padding: 5px 5px;
}
.button {
    background-color: aquamarine;
    border: 3px solid cadetblue;
    color: deepskyblue;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    width: 80px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: cadetblue;
    border: 3px solid aquamarine;
    color: skyblue;
    padding: 6px 6px;
}
.button:active {
    background-color: aquamarine;
    border: 3px solid cadetblue;
    color: deepskyblue;
    padding: 5px 5px;
}
.image {
    border-radius: 100px;
    border-width: 2px;
    border-style: dashed;
}
.image:hover {
    border-radius: 50px;
    transition: linear;
    transform: scaleX(1.1);
}
.image2 {
    border-radius: 150px;
    border-width: 3px;
    border-style: dotted;
}
.image2:hover {
    border-radius: 50px;
    transition: ease-in-out;
    transform: scaleX(1.1);
}
.par {
    margin-right: 30px;
    padding: 10px;
}
.animated1 {
    background-color: darkcyan;
    border: 3px solid darkgreen;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    width: 90px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer; 
}
.animated1:hover{
    animation-name: scale1;
    animation-duration: 2s;
    background-color: lightblue;
    border: 3px solid darkcyan;
    color: darkgreen;
}
@keyframes scale1 {
  0% {
      transform: scaleX(10%);
  }
  100% {
    transform: scaleX(100%);
  }
}
.animated1:active{
    animation-name: rotate1;
    animation-duration: 1.2s;
    background-color: darkcyan;
    border: 3px solid darkgreen;
    color: lightblue;
    width: 100px;
}
@keyframes rotate1 {
  0% {
      transform: rotateX(0deg);
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateX(180deg);
      transform: rotateY(180deg);
  }
    100% {
      transform: rotateX(360deg);
      transform: rotateY(360deg);
  }
}
.animated2 {
    background-color: lightpink;
    border: 3px solid salmon;
    color: darkorchid;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    width: 120px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer; 
}
.animated2:hover{
    animation-name: scale2;
    animation-duration: 1.4s;
    background-color: darkorchid;
    border: 3px solid lightpink;
    color: salmon;
}
@keyframes scale2 {
  0% {
    transform: scaleY(20%);
  }
  100% {
    transform: scaleZ(120%);
  }
}
.animated2:active{
    animation-name: rotate2;
    animation-duration: 2.1s;
    background-color: lightpink;
    border: 3px solid salmon;
    color: darkorchid;
    width: 110px;
}
@keyframes rotate2 {
  0% {
      transform: rotateX(0deg);
  }
  50% {
      transform: rotateX(130deg);
  }
    100% {
      transform: rotateX(60deg);
  }
}
.animated3 {
    background-color: lightgoldenrodyellow;
    border: 3px solid gold;
    color: goldenrod;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    width: 95px;
    padding: 5px 5px;
    margin: 10px;
    cursor: pointer; 
}
.animated3:hover{
    animation-name: scale3;
    animation-duration: 1.8s;
    background-color: goldenrod;
    border: 3px solid lightgoldenrodyellow;
    color: gold;
}
@keyframes scale3 {
  0% {
    transform: scaleX(30%);
  }
  100% {
    transform: scaleY(130%);
  }
}
.animated3:active{
    animation-name: rotate3;
    animation-duration: 1.5s;
    background-color: lightgoldenrodyellow;
    border: 3px solid gold;
    color: goldenrod;
    width: 120px;
}
@keyframes rotate3 {
  0% {
      transform: rotateY(0deg);
  }
  50% {
      transform: rotateY(80deg);
  }
  100% {
      transform: rotateY(30deg);
  }
}